:root {
  --main-color: rgb(204, 225, 226);
  --secondary-color: rgb(36, 168, 212);
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.search-bar img {
  margin-right: 10px;
}

#searchBar {
  width: 80%;
  border-radius: 1.3em;
  background-color: var(--main-color);
  border: none;
  font-size: larger;
  padding: 2px 15px 2px 15px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.greeting img {
  margin-right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}

button {
  border-radius: 1.3em;
  width: 7em;
  height: 2.3em;
  margin: 0.5em;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  border: none;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 3.8fr;
  grid-template-rows: 1fr 4.4fr;
}

.header {
  background-color: white;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
}

.side1 > div {
  display: flex;
  align-items: center;
}
.side2 > div {
  display: flex;
  align-items: center;
}
.side3 > div {
  display: flex;
  align-items: center;
}

svg {
    width: 32px;
    height: 32px;
    fill: white;
    margin-right: 10px;
  }

.sidebar {
  display: flex;
  flex-direction: column;
  color: white;

  background-color: var(--secondary-color);
  grid-column: 1/2;
  grid-row: 1/3;
}

.sidebar > div {
  padding: 15px;
  margin-bottom: 3em;
}
.sidebar img {
  margin-right: 10px;
}
.main-content {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 2.55fr 1fr;
  grid-template-rows: 5.5fr 4.5fr;
}

.l1 {
    grid-column: 1/2;
    grid-row: 1/3;
}
.all-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 96%;
}

.project {
    background-color: white;
    border-left: 5px solid orange ;
    border-radius: 0.3em;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    
}

.projectImg {
    margin-top: 1em;
    text-align: end;
}

.title {
    margin: 1em 0 -0.5em 1em;
}

.r1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.smallText {
    font-size: 12px;
    margin-top: 0.7em;
}

.announcementsBlock {
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    height: 80%;
}
hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.r2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.trendingBox{
    background-color: white;
    padding: 0.5em;
    margin: 1em;
    border-radius: 0.5em;
    height: 80%;
}
.trend {
    margin: 0.5em;
   
    display: flex;
    flex-direction: row;
}

.trend img {
    margin-right:0.5em;
}
